{% extends user.is_staff|yesno:"moderator/base.html,base.html" %}
{% load  static %}

{% block title %}
    Создание мероприятия
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui-timepicker-addon.css' %}">
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
{% endblock %}

{% block scripts %}

    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/datepicker-ru.js' %}"></script>
    <script src="{% static 'js/jquery-ui-timepicker-addon.js' %}"></script>

    <script>


        $.timepicker.regional['ru'] = {
            timeOnlyTitle: 'Выберите время',
            timeText: 'Время',
            hourText: 'Часы',
            minuteText: 'Минуты',
            secondText: 'Секунды',
            millisecText: 'Миллисекунды',
            timezoneText: 'Часовой пояс',
            currentText: 'Сейчас',
            closeText: 'Закрыть',
            timeFormat: 'HH:mm',
            amNames: ['AM', 'A'],
            pmNames: ['PM', 'P'],
            isRTL: false
        };
        $.timepicker.setDefaults($.timepicker.regional['ru']);

        $('#id_date').datetimepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "2015:+nn"
        });
    </script>
{% endblock %}