{% extends user.is_staff|yesno:"admin/base.html,base.html" %}
{% load  static %}
{% block content %}
    <!--suppress ALL -->
    <a href="{% url 'album:albums_list' %}">Ко всем альбомам</a>
    {% if request.user.is_staff or request.user.is_photographer %}
        <a class="right" href="{% url 'album:edit_album' album.id %}">Редактировать</a>
    {% endif %}
    <h1>{{ album.name }}</h1>

    {% if request.user.is_staff or request.user.is_photographer %}
        <div id="save_images" class="mar-top-25 mar-bot-10">
            <h4>Добавление фотографий</h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Добавить</button>
            </form>
        </div>
    {% endif %}



    <table id="gallery" class="table table-bordered mar-top-25">
        <tbody id="photos_table_body">
        {% for photo in photos %}
            <tr>
                <td id="photo_{{ photo.id }}">
                    <img class="img-responsive" src="{{ MEDIA_URL }}{{ photo.image.name }}">
                    {% if request.user.is_staff or request.user.is_photographer %}
                        <button id="{{ photo.id }}" class="photoDeleteButton btn btn-sm btn-danger right">x</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        $("#save_images").submit(function (event) {
            event.preventDefault();
            var formdata = new FormData();
            var is_staff =
            {{ request.user.is_staff|yesno:"true,false" }}
            var is_photographer = {{ request.user.is_photographer|yesno:"true,false" }}

                formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            for (var i = 0; i < $('#id_image')[0].files.length; i++) {
                formdata.append('images', $('#id_image')[0].files[i])
            }


            $.ajax({
                type: 'POST',
                data: formdata,
                async: true,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function (data) {
                    for (var i = 0; i < data.new_photos.length; i++) {
                        var appentHtml = ""
                        if (is_staff || is_photographer) {
                            appentHtml = '<tr><td id="photo_' + data.photos_id[data.new_photos[i]] + '"><img class="img-responsive" src="{{ MEDIA_URL }}' + data.new_photos[i] + '"><button id="' + data.photos_id[data.new_photos[i]] + '" class="photoDeleteButton btn btn-sm btn-danger right">x</button></td></tr>'
                        } else {
                            appentHtml = '<tr><td id="photo_' + data.photos_id[data.new_photos[i]] + '"><img class="img-responsive src="{{ MEDIA_URL }}' + data.new_photos[i] + '"></td></tr>'
                        }
                        $("#photos_table_body").append(appentHtml)

                    }
                },
                error: function (error) {
                    alert(error)
                }
            });
        });

        $(document).on('click', '.photoDeleteButton', function (event) {
            console.log("sdasdasd")
            event.preventDefault();
            var photo_id = this.id;
            var album_id =
            {{ album.id }}
            var formdata = new FormData();
            formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            $.ajax({
                type: 'POST',
                url: '/album/' + album_id + '/photo/' + photo_id + '/delete',
                data: formdata,
                async: true,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function (data) {
                    if (data == "ok") {
                        $("#photo_" + photo_id).css("display", "None")
                    }
                }
            });
        })


    </script>
{% endblock %}