{% extends user.is_staff|yesno:"admin/base.html,base.html" %}
{% load static %}

{% block title %}
    Создание новости
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/summernote.css' %}">
    <script src="{% static 'js/summernote.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="col-md-12">
    <h3>Добавление новости</h3>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p |safe }}
            <button class="btn btn-primary mar-bot-10">Добавить</button>
        </form>
    </div>
{% endblock %}