{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3 panel panel-default">

            <div class="panel-heading">
                <h4 class="text-center">Регистрация</h4>

            </div>

            <div class="panel-content">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ reg_form.as_p }}
                    {{ player_form.as_p }}

                    {% for field in reg_form %}
                        {% for err in field.errors %}
                            <p class="error">{{ err }}</p>
                        {% endfor %}
                    {% endfor %}

                    {% for field in player_form %}
                        {% for err in field.errors %}
                            <p class="error">{{ err }}</p>
                        {% endfor %}
                    {% endfor %}

                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Зарегистрироваться</button>
                    </div>

                    <div class="form-group">
                        <p class="text-center">Уже зарегистрированы? <a href="{% url 'auth:login' %}">Войдите</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.maskedinput.js' %}"></script>

    <script>
        $('#id_phone').mask("+7(999)999-9999");
        $('#id_license').mask("99 №9999");
    </script>

    <style>
        {#hide ugly django errors#}
        .errorlist {
            display: none;
        }
    </style>
{% endblock %}