{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/select2.min.js' %}"></script>
{% endblock %}

{% block content %}
    <h3>Добавление игроков в турнир "{{ tournament.name }}"</h3>
    <form action="" method="post">
        {% csrf_token %}
        <select name='select' class="select-players" name="states[]" multiple="multiple"
                style="width: 500px; ">
            {% for player in players %}
                <option value={{ player.id }}>{{ player.f_name }} {{ player.i_name }} {{ player.o_name }}</option>
            {% endfor %}
            {% for player in already_selected %}
                <option selected
                        value={{ player.id }}>{{ player.f_name }} {{ player.i_name }} {{ player.o_name }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary">Добавить</button>
    </form>

    <script>$(document).ready(function () {
        $('.select-players').select2();
    });
    </script>
{% endblock %}