{% extends user.is_staff|yesno:"moderator/base.html,base.html" %}
{% load static %}

{% block title %}
    {{ block.name }}
{% endblock %}

{% load tournament_extras %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'stats/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'stats/tableexport.min.css' %}">

    <script src="{% static 'stats/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'stats/dataTables.bootstrap.min.js' %}"></script>

    {# tableexport.js staff #}
    <script lang="javascript" src="{% static 'stats/xlsx.core.min.js' %}"></script>
    <script src="{% static 'stats/FileSaver.min.js' %}"></script>
    <script src="{% static 'stats/tableexport.min.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="row mar-bot-10">
        <div class="col-md-12">
            <div class="bg-w box-shadow pad-10 ov-hidden">
                <div class="row">
                                        <div class="col-md-9">
                        <h3 class="mar-top-10">{{ my_block.name }}</h3>
                        <h4 class="color-grey">{{ my_block.start_date|date:"d.m.Y" }} – {{ my_block.end_date|date:"d.m.Y" }}|</h4>
                        <p>{{ my_block.description }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mar-top-10 mar-l-3">
            <div class="list-group list-group-horizontal">
                <span class="list-group-item list-group-item-action"><b>Игры</b></span>
                {% for game in games%}
                    <a href="{% url 'tournaments:tournament_game_info' tournament.pk my_block.pk game.pk %}"
                       class="list-group-item list-group-item-action">{{ game.name }}</a>
                {% endfor %}

                {% if user.is_staff %}
                    <a href="{% url 'tournaments:game_create' pk=tournament.id block_pk=my_block.id%}"
                       class="list-group-item list-group-item-success">Добавить</a>
                {% endif %}
            </div>
        </div>

        <div class="col-md-12 table-responsive">
            <h3>Статистика</h3>
            {% if tournament.type.name == 'Спортивный' %}
                {% if men_games_dict %}
                    <h2>Мужчины</h2>

                    <table class="table display nowrap table-hover res-table" id="result-table-m" style="width: 100%;">
                        <thead>
                        <tr>
                            <th rowspan="2">#</th>
                            <th rowspan="2">Игрок</th>
                            {% if games.count > 0 %}
                                <th colspan="{{ games.count }}" class="text-center">Игры</th>
                            {% endif %}
                            <th class="text-center" rowspan="2">Город</th>
                            <th class="text-center" rowspan="2">Сумма</th>
                            <th class="text-center" rowspan="2">+-200</th>
                            <th class="text-center" rowspan="2">Сред</th>
                            <th class="text-center" rowspan="2">Мин. игра</th>
                            <th class="text-center" rowspan="2">Макс. игра</th>
                        </tr>
                        <tr>
                            {% for game in games %}
                                <th>{{ forloop.counter }}</th>
                            {% endfor %}
                        </tr>

                        </thead>
                        <tbody>
                        {% for player in men_players %}
                            <tr>

                                <td>{{ forloop.counter }}</td>
                                <td style="text-align: left">{{ player }}</td>
                                {% for game in men_games_dict|get_item:player.id %}
                                    <td class="text-center">{{ game.result }}</td>
                                {% endfor %}
                                <td class="text-center">
                                    {% if player.city is not None %}
                                        {{ player.city }}
                                    {% else %}
                                        Не указано
                                    {% endif %}
                                </td>
                                <td class="text-center">{% get_player_points player my_block %}</td>
                                <td class="text-center">{% get_player_200_points player my_block %}</td>
                                <td class="text-center">{% get_player_avg_points player my_block %}</td>
                                <td class="text-center">{% get_player_min_points player my_block %}</td>
                                <td class="text-center">{% get_player_max_points player my_block %}</td>
                            </tr>

                        {% endfor %}


                        </tbody>
                    </table>

                {% endif %}
                {% if women_games_dict %}
                    <h2>Женщины</h2>
                    <table class="table display nowrap table-hover res-table" id="result-table-w" style="width: 100%;">
                        <thead>
                        <tr>
                            <th rowspan="2">#</th>
                            <th rowspan="2">Игрок</th>
                            {% if games %}
                                <th colspan="{{ games.count }}" class="text-center">Игры</th>
                            {% endif %}

                            <th class="text-center" rowspan="2">Город</th>
                            <th class="text-center" rowspan="2">Сумма</th>
                            <th class="text-center" rowspan="2">+-200</th>
                            <th class="text-center" rowspan="2">Сред</th>
                            <th class="text-center" rowspan="2">Мин. игра</th>
                            <th class="text-center" rowspan="2">Макс. игра</th>
                        </tr>
                        <tr>
                            {% for game in games %}
                                <th>{{ forloop.counter }}</th>
                            {% endfor %}
                        </tr>

                        </thead>
                        <tbody>
                        {% for player in women_players %}
                            <tr>

                                <td>{{ forloop.counter }}</td>
                                <td style="text-align: left">{{ player }}</td>
                                {% for game in women_games_dict|get_item:player.id %}
                                    <td class="text-center">{{ game.result }}</td>
                                {% endfor %}
                                <td class="text-center">
                                    {% if player.city is not None %}
                                        {{ player.city }}
                                    {% else %}
                                        Не указано
                                    {% endif %}
                                </td>
                                <td class="text-center">{% get_player_points player my_block %}</td>
                                <td class="text-center">{% get_player_200_points player my_block %}</td>
                                <td class="text-center">{% get_player_avg_points player my_block %}</td>
                                <td class="text-center">{% get_player_min_points player my_block %}</td>
                                <td class="text-center">{% get_player_max_points player my_block %}</td>
                            </tr>

                        {% endfor %}


                        </tbody>
                    </table>
                {% endif %}


                {% if not men_games_dict and not women_games_dict %}
                    <div class="text-center">В данном турнире еще нет игр.</div>
                {% endif %}




            {% elif tournament.type.name == 'Коммерческий' %}
                <h2>Таблица</h2>
                <table class="table display nowrap table-hover res-table" id="result-table-w" style="width: 100%;">
                    <thead>
                    <tr>
                        <th rowspan="2">#</th>
                        <th rowspan="2">Игрок</th>
                        {% if games %}
                            <th colspan="{{ games.count }}" class="text-center">Игры</th>
                        {% endif %}

                        <th class="text-center" rowspan="2">Город</th>
                        <th class="text-center" rowspan="2">Сумма</th>
                        <th class="text-center" rowspan="2">+-200</th>
                        <th class="text-center" rowspan="2">Сред</th>
                        <th class="text-center" rowspan="2">Мин. игра</th>
                        <th class="text-center" rowspan="2">Макс. игра</th>
                        <th class="text-center" rowspan="2">Гандикап</th>
                    </tr>
                    <tr>
                        {% for game in games %}
                            <th>{{ forloop.counter }}</th>
                        {% endfor %}
                    </tr>

                    </thead>
                    <tbody>
                    {% for player in players %}
                        <tr>

                            <td>{{ forloop.counter }}</td>
                            <td style="text-align: left">{{ player }}</td>
                            {% for game in games_dict|get_item:player.id %}
                                <td class="text-center">

                                    {% if player.sex == '1' or player.get_age > 50 %}
                                        {% if game.result != 0 %}
                                            {% get_sum game.result 8 %}
                                        {% else %}
                                            0
                                        {% endif %}
                                    {% else %}
                                        {{ game.result }}
                                    {% endif %}

                                </td>
                            {% endfor %}
                            <td class="text-center">
                                {% if player.city is not None %}
                                    {{ player.city }}
                                {% else %}
                                    Не указано
                                {% endif %}
                            </td>
                            <td class="text-center">{% get_player_points player my_block %}</td>
                            <td class="text-center">{% get_player_200_points player my_block %}</td>
                            <td class="text-center">{% get_player_avg_points player my_block %}</td>
                            <td class="text-center">{% get_player_min_points player my_block %}</td>
                            <td class="text-center">{% get_player_max_points player my_block %}</td>
                            <td class="text-center">
                                {% if player.sex == '1' or player.get_age > 50 %}
                                    {% get_handicap games_dict|get_item:player.pk %}
                                {% else %}

                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}


                    </tbody>
                </table>

            {% else %}
                <h2>Таблица</h2>
                <table class="table display nowrap table-hover res-table" id="result-table-w" style="width: 100%;">
                    <thead>
                    <tr>
                        <th rowspan="2">#</th>
                        <th rowspan="2">Игрок</th>
                        <th colspan="{{ games.count }}" class="text-center">Игры</th>
                        <th rowspan="2">Город</th>
                        <th rowspan="2">Сумма</th>
                        <th rowspan="2">+-200</th>
                        <th rowspan="2">Сред</th>
                        <th rowspan="2">Мин. игра</th>
                        <th rowspan="2">Макс. игра</th>
                    </tr>
                    <tr>
                        {% for game in games %}
                            <th>{{ forloop.counter }}</th>
                        {% endfor %}
                    </tr>

                    </thead>
                    <tbody>
                    {% for player in players %}
                        <tr>

                            <td>{{ forloop.counter }}</td>
                            <td style="text-align: left">{{ player }}</td>
                            {% for game in games_dict|get_item:player.id %}
                                <td>{{ game.result }}</td>
                            {% endfor %}
                            <td>
                                {% if player.city is not None %}
                                    {{ player.city }}
                                {% else %}
                                    Не указано
                                {% endif %}
                            </td>
                            <td>{% get_player_points player my_block %}</td>
                            <td>{% get_player_200_points player my_block %}</td>
                            <td>{% get_player_avg_points player my_block %}</td>
                            <td>{% get_player_min_points player my_block %}</td>
                            <td>{% get_player_max_points player my_block %}</td>
                        </tr>

                    {% endfor %}


                    </tbody>
                </table>
            {% endif %}
        </div>

        {% if user.is_staff %}
            <a class="right" href="{% url 'tournaments:block_update' tournament_pk=tournament.pk pk=my_block.pk %}"><i
                    class="fa fa-pencil"></i> Редактировать</a>
        {% endif %}
    </div> <!-- row -->


{% endblock %}

{% block scripts %}
    <script>

        $(document).ready(function () {
            $('res-table').DataTable({
                scrollX: true,
                "bPaginate": false,
                scrollCollapse: true,
                "language": {
                    "url": "{% static 'stats/Russian.json' %}"
                },
                "info": false
            });

            TableExport.prototype.formatConfig.xlsx.buttonContent = "Экспорт в xlsx";
            TableExport.prototype.formatConfig.csv.buttonContent = "Экспорт в csv";
            TableExport(document.getElementById("result-table-m"), {
                headers: true,                              // (Boolean), display table headers (th or td elements) in the <thead>, (default: true)
                formats: ['xlsx', 'csv'],                   // (String[]), filetype(s) for the export, (default: ['xlsx', 'csv', 'txt'])
                filename: '{{ tournament.name }}' + ' Cтат.',                             // (id, String), filename for the downloaded file, (default: 'id')
                bootstrap: true,                           // (Boolean), style buttons using bootstrap, (default: true)
                exportButtons: true,                        // (Boolean), automatically generate the built-in export buttons for each of the specified formats (default: true)
                position: 'bottom',                         // (top, bottom), position of the caption element relative to table, (default: 'bottom')
                ignoreRows: null,                           // (Number, Number[]), row indices to exclude from the exported file(s) (default: null)
                ignoreCols: null,                           // (Number, Number[]), column indices to exclude from the exported file(s) (default: null)
                trimWhitespace: false
            });

            TableExport(document.getElementById("result-table-w"), {
                headers: true,                              // (Boolean), display table headers (th or td elements) in the <thead>, (default: true)
                formats: ['xlsx', 'csv'],                   // (String[]), filetype(s) for the export, (default: ['xlsx', 'csv', 'txt'])
                filename: '{{ tournament.name }}' + ' Cтат.',                             // (id, String), filename for the downloaded file, (default: 'id')
                bootstrap: true,                           // (Boolean), style buttons using bootstrap, (default: true)
                exportButtons: true,                        // (Boolean), automatically generate the built-in export buttons for each of the specified formats (default: true)
                position: 'bottom',                         // (top, bottom), position of the caption element relative to table, (default: 'bottom')
                ignoreRows: null,                           // (Number, Number[]), row indices to exclude from the exported file(s) (default: null)
                ignoreCols: null,                           // (Number, Number[]), column indices to exclude from the exported file(s) (default: null)
                trimWhitespace: false
            });


        });
    </script>
{% endblock %}