{% extends user.is_staff|yesno:"moderator/base.html,base.html" %}
{% load static %}
{% block extrahead %}
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/select2.min.js' %}"></script>
{% endblock %}

{% block title %}
    Редактирование игры
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <div class="panel">

            <div class="panel-heading">
                <h3>Редактирование игры</h3>
            </div>
            <div class="panel-body">
                <form action="" method="post" class="mar-bot-10">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="submit" name="type" value="Сохранить" class="btn btn-success mar-bot-10">
                </form>
            </div>
        </div>

    </div>
{% endblock %}