{% extends user.is_staff|yesno:"admin/base.html,base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h3>{{ request.name }}</h3>
                {% if user.is_staff %}
                    <a class="right" href="{% url 'tournaments:tournament_update' request.id %}"><i class="fas fa-pencil-alt"></i> редактировать</a>
            {% endif %}

            <p>{{ request.description }}</p>
        </div>
        <div class="col-md-4 mar-top-10">
            <img class="img-rounded" style="width: 100%;" src="{{ MEDIA_URL }}{{ request.photo }}"/>
        </div>

        <div class="col-md-4 mar-top-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Параметры
                </div>
                <div class="panel-body">
                    <p>Дата: {{ request.start|date:"d.m.Y" }} – {{ request.end|date:"d.m.Y" }}</p>
                    <p>Город: Москва</p>
                    <p>Тип турнира: {{ request.get_type_display }}</p>
                    <p>Тип команд: {{ request.team_type }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mar-top-10">
            <div class="list-group">
                <span class="list-group-item list-group-item-action"><b>Список игр</b></span>
                {% for game in games %}
                    <a href="{% url 'tournaments:tournament_game_info' request.pk game.pk %}"
                       class="list-group-item list-group-item-action">{{ game.name }}</a>
                {% endfor %}
                <a href="#" class="list-group-item list-group-item-action">Игра 1</a>
                <a href="#" class="list-group-item list-group-item-action">Игра 2</a>
                <a href="#" class="list-group-item list-group-item-action">Игра 3</a>
                <a href="#" class="list-group-item list-group-item-action">Игра 4</a>
                <a href="#" class="list-group-item list-group-item-action">Игра 5</a>
                <a href="#" class="list-group-item list-group-item-action">Игра 6</a>
                <a href="#" class="list-group-item list-group-item-action">Десперадо</a>
                <a href="#" class="list-group-item list-group-item-action">Финал</a>

                {% if user.is_staff %}
                    <a href="{% url 'tournaments:game_create' request.id %}"
                       class="list-group-item list-group-item-success">Добавить
                        игру</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Статистика</h3>
{#            место для таблицы со статистикой#}
        </div>
    </div>

{% endblock %}