{% extends user.is_staff|yesno:"moderator/base.html,base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'stats/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'stats/tableexport.min.css' %}">

    <script src="{% static 'stats/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'stats/dataTables.bootstrap.min.js' %}"></script>
    {#    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">#}
    {#    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>#}
    {#    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>#}
{% endblock %}

{% block title %}
    Игра {{ game.name }}
{% endblock %}

{% block content %}
    {% if request.user.is_staff %}
        <a class="right" href="{% url 'tournaments:game_update' game.block.tournament.pk game.block.pk game.id %}">Редактировать</a>
    {% endif %}

    <div class="col-md-12">
        <h3>
            <a class="text-black" href="{% url 'tournaments:tournament_page' game.block.tournament.pk %}">
                {{ game.block.tournament.name }}</a>
        </h3>
        <h4>Игра: {{ game.name }}</h4>
    </div>


    {% if request.user.is_staff %}
        <div class="col-md-8">


            {% if tournament.type.name == 'Спортивный' %}
                <h2>Мужчины</h2>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td><h5>Игрок</h5></td>
                        <td><h5>Результат</h5></td>
                    </tr>
                    </thead>
                    {% for gInf in mGameInfo %}
                        <tr>
                            <td>
                                <h5>{{ gInf.player }}</h5>

                            </td>

                            <td class="col-xs-2">
                                <form action="" method="post" name="playersToEdit" onsubmit="updateResults(event)"
                                      class="updateResultsForm" id="form{{ gInf.pk }}">
                                    {% csrf_token %}
                                    <input id="input{{ gInf.pk }}" class="form-control" style="" type="text"
                                           name="result"
                                           value="{{ gInf.result }}" onchange="$('#form{{ gInf.pk }}').submit()">
                                    <input type="hidden" name="info_id" value="{{ gInf.pk }}">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>


                <h2>Женщины</h2>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td><h5>Игрок</h5></td>
                        <td><h5>Результат</h5></td>
                    </tr>
                    </thead>
                    {% for gInf in wGameInfo %}
                        <tr>
                            <td>
                                <h5>{{ gInf.player }}</h5>

                            </td>

                            <td class="col-xs-2">
                                <form action="" method="post" name="playersToEdit" onsubmit="updateResults(event)"
                                      class="updateResultsForm" id="form{{ gInf.pk }}">
                                    {% csrf_token %}
                                    <input id="input{{ gInf.pk }}" class="form-control" style="" type="text"
                                           name="result"
                                           value="{{ gInf.result }}" onchange="$('#form{{ gInf.pk }}').submit()">
                                    <input type="hidden" name="info_id" value="{{ gInf.pk }}">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td><h5>Игрок</h5></td>
                        <td><h5>Результат</h5></td>
                    </tr>
                    </thead>
                    {% for gInf in gameInfo %}
                        <tr>
                            <td>
                                <h5>{{ gInf.player }}</h5>

                            </td>

                            <td class="col-xs-2">
                                <form action="" method="post" name="playersToEdit" onsubmit="updateResults(event)"
                                      class="updateResultsForm" id="form{{ gInf.pk }}">
                                    {% csrf_token %}
                                    <input id="input{{ gInf.pk }}" class="form-control" style="" type="text"
                                           name="result"
                                           value="{{ gInf.result }}" onchange="$('#form{{ gInf.pk }}').submit()">
                                    <input type="hidden" name="info_id" value="{{ gInf.pk }}">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            {% endif %}

        </div>
        <div class="col-md-12">
            <a class="btn btn-primary mar-bot-10" href="{% url 'tournaments:tournament_page' game.block.tournament.pk %}">Сохранить и
                вернуться к турниру</a>
        </div>
    {% else %}

        <table class="table table-bordered" id="results" style="width: 100%;">
            <thead>
            <tr>
                <th>#</th>
                <th>Игрок</th>
                <th>Разряд</th>
                <th>Город</th>
                <th>Результат</th>
            </tr>
            </thead>
            <tbody>
            {% for gInf in gameInfo %}
                <tr>
                    <td style="text-align: center">{{ forloop.counter }}</td>
                    <td>{{ gInf.player }}</td>
                    <td style="text-align: center">{{ gInf.player.category }}</td>
                    <td>{{ gInf.player.city }}</td>
                    <td style="text-align: center">{{ gInf.result }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    {% endif %}








    <script>
        function updateResults(event) {
            $.ajax({
                    url: '{% url 'tournaments:update_game_result' %}',
                    type: 'POST',
                    dataType: 'json',
                    data: $(event.target).serialize(),
                    success:
                        function (data) {
                            if (data['Success']) {
                                $('#result' + data['id']).text(data['Success']);
                                $(event.target).find('input[type="text"]').removeClass('error');

                                $(event.target).find('input[type="text"]').addClass('success');

                            } else {
                                $(event.target).find('input[type="text"]').addClass('error');
                            }
                        }
                }
            );
            event.preventDefault();
        }

    </script>

    <script>
        $(document).ready(function () {
            $('#results').DataTable({
                scrollX: true,
                "bPaginate": false,
                scrollCollapse: true,
                "language": {
                    "url": "{% static 'stats/Russian.json' %}"
                },
                "info": false
            });
        });
    </script>

{% endblock %}