{% extends user.is_staff|yesno:"admin/base.html,base.html" %}
{% load static %}

{% block title %}
    {{ tournament.name }}
{% endblock %}

{% load tournament_extras %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'stats/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'stats/tableexport.min.css' %}">

    <script src="{% static 'stats/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'stats/dataTables.bootstrap.min.js' %}"></script>

    {# tableexport.js staff #}
    <script lang="javascript" src="{% static 'stats/xlsx.core.min.js' %}"></script>
    <script src="{% static 'stats/FileSaver.min.js' %}"></script>
    <script src="{% static 'stats/tableexport.min.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h3>{{ tournament.name }}</h3>
            {% if user.is_staff %}
                <a class="right" href="{% url 'tournaments:tournament_update' tournament.id %}"><i
                        class="fas fa-pencil-alt"></i> редактировать</a>
            {% endif %}

            <p>{{ tournament.description }}</p>
        </div>


        <div class="col-md-12">
            <div class="bound">
                <div class="button-border">
                    <div class="info-btn btn btn-sm btn-block text-right" data-toggle="collapse" data-target="#collapseInfo">
                    </div>
                </div>

                <div class="info-block collapse in" id="collapseInfo" style="max-height: none">
                    <div class="row">
                        <div class="col-md-4 mar-top-10">
                            <img class="img-rounded" style="width: 100%;" src="{{ MEDIA_URL }}{{ tournament.photo }}"/>
                        </div>

                        <div class="col-md-4 mar-top-10">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Параметры
                                </div>
                                <div class="panel-body">
                                    <p>Дата: {{ tournament.start|date:"d.m.Y" }} – {{ tournament.end|date:"d.m.Y" }}</p>
                                    <p>Город: {{ tournament.city }}</p>
                                    <p>Тип турнира: {{ tournament.get_type_display }}</p>
                                    <p>Тип команд: {{ tournament.team_type }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mar-top-10">
                            <div class="list-group">
                                <span class="list-group-item list-group-item-action"><b>Список игр</b></span>
                                {% for game in games %}
                                    <a href="{% url 'tournaments:tournament_game_info' tournament.pk game.pk %}"
                                       class="list-group-item list-group-item-action">{{ game.name }}</a>
                                {% endfor %}

                                {% if user.is_staff %}
                                    <a href="{% url 'tournaments:game_create' tournament.id %}"
                                       class="list-group-item list-group-item-success">Добавить
                                        игру</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#        <div class="row">#}
        <div class="col-md-12">
            <h3>Статистика</h3>
            {% if games %}
                <table class="table" id="result-table">
                    <thead>
                    <tr>
                        <th rowspan="2">#</th>
                        <th rowspan="2">Игрок</th>
                        <th colspan="{{ games.count }}" class="text-center">Игры</th>
                        <th rowspan="2">Город</th>
                        <th rowspan="2">Сумма</th>
                        <th rowspan="2">+-200</th>
                        <th rowspan="2">Сред</th>
                        <th rowspan="2">Мин. игра</th>
                        <th rowspan="2">Макс. игра</th>
                    </tr>
                    <tr>
                        {% for game in games %}
                            <th>{{ forloop.counter }}</th>
                        {% endfor %}
                    </tr>

                    </thead>
                    <tbody>
                    {% for player in players %}
                        <tr>

                            <td>{{ forloop.counter }}</td>
                            <td>{{ player }}</td>
                            {% for game in games_dict|get_item:player.id %}
                                <td>{{ game.result }}</td>
                            {% endfor %}
                            <td>
                                {% if player.city is not None %}
                                    {{ player.city }}
                                {% else %}
                                    Не указано
                                {% endif %}
                            </td>
                            <td>{% get_player_points player tournament %}</td>
                            <td>{% get_player_200_points player tournament %}</td>
                            <td>{% get_player_avg_points player tournament %}</td>
                            <td>{% get_player_min_points player tournament %}</td>
                            <td>{% get_player_max_points player tournament %}</td>
                        </tr>

                    {% endfor %}


                    </tbody>
                </table>
            {% else %}
                <div class="text-center">В данном турнире еще нет игр.</div>
            {% endif %}
        </div>
        {#        </div>#}
    </div> <!-- row -->


{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {

            $('#result-table').DataTable({
                "language": {
                    "url": "{% static 'stats/Russian.json' %}"
                }
            });


            TableExport.prototype.formatConfig.xlsx.buttonContent = "Экспорт в xlsx";
            TableExport.prototype.formatConfig.csv.buttonContent = "Экспорт в csv";
            TableExport(document.getElementById("result-table"), {
                headers: true,                              // (Boolean), display table headers (th or td elements) in the <thead>, (default: true)
                formats: ['xlsx', 'csv'],                   // (String[]), filetype(s) for the export, (default: ['xlsx', 'csv', 'txt'])
                filename: '{{ tournament.name }}' + ' Cтат.',                             // (id, String), filename for the downloaded file, (default: 'id')
                bootstrap: true,                           // (Boolean), style buttons using bootstrap, (default: true)
                exportButtons: true,                        // (Boolean), automatically generate the built-in export buttons for each of the specified formats (default: true)
                position: 'bottom',                         // (top, bottom), position of the caption element relative to table, (default: 'bottom')
                ignoreRows: null,                           // (Number, Number[]), row indices to exclude from the exported file(s) (default: null)
                ignoreCols: null,                           // (Number, Number[]), column indices to exclude from the exported file(s) (default: null)
                trimWhitespace: false,
            });


        });
    </script>
{% endblock %}