{% extends user.is_staff|yesno:"moderator/base.html,base.html" %}
{% load static %}

{% block title %}
    Создание турнира
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/imageupload.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}"/>
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/select2.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="text-center">Создание турнира</h3>
            </div>

            <div class="panel-body">
                <form id="form_torn_reg" action="" method="post" enctype="multipart/form-data">
                    {{ form.media }}
                    {% csrf_token %}

                    {% for field in form %}
                        {% if field.id_for_label != 'id_photo' %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% if field.id_for_label == 'id_start' or field.id_for_label == 'id_end' %}
                                    <input id="{{ field.id_for_label }}" name="{{ field.name }}" type="text"
                                           class="form-control"
                                           value="{{ field.value | date:'d.m.Y' }}" autocomplete="off">
                                    <p hidden class="error" id="{{ field.id_for_label }}_error">Дата начала турнира не
                                        может быть позже даты окончания</p>
                                {% elif field.id_for_label == 'id_handicaps' %}
                                    <select name='select' class="select-players" name="states[]" multiple="multiple"
                                            style="width: 500px; ">
                                        {% for h in handicaps %}
                                            <option value={{ h.id }}>{{ h.start }} {{ h.end }} {{ h.gender }} {{ h.size }}</option>
                                        {% endfor %}
                                    </select>
                                    <a href="tournaments/handicap.html"
                                       onclick="return popitup('{% url 'tournaments:handicap_create' %}')">Создать новый
                                        гандикап</a>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label>Изображение</label>
                            <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            Выбрать… <input type="file" id="id_photo" accept="image/jpeg, image/png" name="photo">
                        </span>
                    </span>
                                <input type="text" autocomplete="off" class="form-control" readonly>
                            </div>
                            <img class="mar-bot-10 img-upload" id='id_photoUpload'/>
                        </div>
                    </div>

                    {{ form.errors }}

                    <div class="form-group mar-top-10">
                        <button class="btn btn-primary">Продолжить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.maskedinput.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/datepicker-ru.js' %}"></script>

    <script>

        $('#id_start').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "2015:+nn"
        });

        $('#id_end').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "2015:+nn"
        });
    </script>
{% endblock %}

{% block scripts %}
    <script language="javascript" type="text/javascript">
        function popitup(url) {
            newwindow = window.open(url, '{{title}}', 'height=200,width=150');
            if (window.focus) {
                newwindow.focus()
            }
            return false;
        }
    </script>

    <script>
        $(document).ready(function () {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        var id = '#' + input.id + 'Upload';
                        console.log(id);
                        $(id).attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#id_photo").change(function () {
                readURL(this);
            });

            // Валидация дат
            $('#id_start').change(function () {
                var start_date = $(this).val();
                var end_date = $('#id_end').val();
                if (start_date && end_date) {
                    end_date = end_date.split('.');
                    start_date = start_date.split('.');
                    end_date = new Date(end_date[2], end_date[1] - 1, end_date[0]);
                    start_date = new Date(start_date[2], start_date[1] - 1, start_date[0]);
                    if (start_date > end_date) {
                        $('#id_start_error').show();
                        $(this).addClass("error");
                    }
                    else {
                        $('#id_start_error').hide();
                        $(this).removeClass("error");
                        $('#id_end_error').hide();
                        $('#id_end').removeClass("error");
                    }
                }
            });

            // тут начало и конец поменялись местами
            $('#id_end').change(function () {
                var start_date = $(this).val();
                var end_date = $('#id_start').val();
                if (start_date && end_date) {
                    end_date = end_date.split('.');
                    start_date = start_date.split('.');
                    end_date = new Date(end_date[2], end_date[1] - 1, end_date[0]);
                    start_date = new Date(start_date[2], start_date[1] - 1, start_date[0]);
                    if (start_date < end_date) {
                        $('#id_end_error').show();
                        $(this).addClass("error");
                    }
                    else {
                        $('#id_end_error').hide();
                        $(this).removeClass("error");
                        $('#id_start_error').hide();
                        $('#id_start').removeClass("error");
                    }
                }
            });

        });
    </script>

    <script>$(document).ready(function () {
        $('.select-players').select2();
    });
    </script>
{% endblock %}
