{% extends 'base.html' %}
{% block content %}
    <h3 class="text-center">Турниры</h3>

    {% if user.is_staff %}
        <a href="{% url 'tournaments:tournaments_create' %}" class="right">Создать турнир</a>
    {% endif %}

    {% if requests %}
        {% for request in requests %}
            <div class="row">
                <div class="col-md-3 col-md-offset-1 col-sm-4">
                    <img class="img-responsive" src="{{ MEDIA_URL }}{{ request.photo }}"/>
                </div>

                <div class="col-md-8 col-sm-8">
                    <a href="{% url 'tournaments:tournament_page' request.id %}">
                        <p>Название: {{ request.name }}</p>
                    </a>

                    <p>Начало: {{ request.start }}</p>
                    <p>Конец: {{ request.end }}</p>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <p class="text-center mar-top-125">Турниров пока нет</p>

    {% endif %}
{% endblock %}
