{% extends user.is_staff|yesno:"admin/base.html,base.html" %}
{% load  static %}

{% block title %}
    Создание мероприятия
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/imageupload.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}"/>
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Добавить</button>
    </form>

    <script src="{% static 'js/jquery.maskedinput.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/datepicker-ru.js' %}"></script>

    <script>
     $('#id_date').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "2015:+nn"
        });
    </script>
{% endblock %}