{% extends user.is_staff|yesno:"admin/base.html,base.html" %}

{% block content %}

    <p>Welcome to you home page</p>

    {% if user.is_authenticated %}
        <a href={% url 'auth:logout' %}>Logout</a>
    {% endif %}

    {% if news %}
        {% for post in news %}
            <a href="{% url 'news:news_view' post.id %}"
               class="list-group-item ov-hidden"
               id="post{{ post.id }}">

                        <span class="square"
                              style="background-image:url('{{ MEDIA_URL }}{{ post.image }}');"></span>
                <h4 class="list-group-item-heading" id="c${complex.id?c}">{{ post.title }}</h4>
                <br>
            </a>
        {% endfor %}
    {% else %}
        Пока нет новостей
    {% endif %}
    <form action="{% url 'news:news_list' %}">
        <input type="submit" value="Все новости"/>
    </form>

{% endblock %}