{% extends user.is_staff|yesno:"admin/base.html,base.html" %}

{% block content %}

    <h1 class="text-center">Федерация боулинга Республики Татарстан</h1>

    <div class="row mar-top-75">
        <div class="col-md-6">
            {% if news %}
                {% for post in news %}
                    <a href="{% url 'news:news_view' post.id %}"
                       class="list-group-item ov-hidden"
                       id="post{{ post.id }}">

                        <span class="square"
                              style="background-image:url('{{ MEDIA_URL }}{{ post.image }}');"></span>
                        <h4 class="list-group-item-heading" id="c${complex.id?c}">{{ post.title }}</h4>
                        <br>
                    </a>
                {% endfor %}
                {% if news_count > 3 %}
                    <button class="btn btn-block btn-lg btn-default" onclick="window.location.href='{% url 'news:news_list' %}'">Перейти ко всем новостям</button>
                {% endif %}

            {% else %}
                Пока нет новостей
            {% endif %}
        </div>

        <div class="col-md-6">
            <h4>Здесь будет список ближайших турниров</h4>
        </div>
    </div>


{% endblock %}