<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать игрока</title>
</head>
<body>
<form action="" method="post">
    {% if form.subject.errors %}
        <ol>
            {% for error in form.subject.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
    {% endif %}

    {% csrf_token %}
    {{ form.i_name.label }} {{ form.i_name }} <br>
    {{ form.f_name.label }} {{ form.f_name }}<br>
    {{ form.o_name.label }} {{ form.o_name }} <br>
    {{ form.sex.label }} {{ form.sex }} <br>
    {{ form.phone.label }} {{ form.phone }}<br>
    {{ form.date_of_birth.label }} {{ form.date_of_birth }}<br>
    {{ form.license.label }} {{ form.license }}<br>
    {{ form.category.label }} {{ form.category }}<br>
    <input type="submit" value="Сохранить"/>
</form>
</body>
</html>