{% extends user.is_staff|yesno:"moderator/base.html,base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}"/>
{% endblock %}

{% block title %}
    Игроки
{% endblock %}

{% block content %}
    <h4><a href="{% url 'bowlingApp:players_list' %}">Все игроки</a></h4>

    <h3 class="mar-top-25">{{ player }}</h3>

    <div class="col-md-8">
        <p>Пол: {{ player.get_sex_display }}</p>
        <p>Город: {{ player.city }}</p>
        <p>Дата рождения: {{ player.date_of_birth }}</p>
        <p>Email: {{ user_form.email }}</p>
        <p>Телефон: {{ player.phone }}</p>
        {% if request.user.is_staff %}
            <a class="btn btn-warning" href="#edit_modal" data-toggle="modal">Редактировать</a>
        {% endif %}
    </div>

    <div class="col-sm-4 mar-top-75 cropped">
        <span class="squared"
              style="background-image:url('{{ MEDIA_URL }}{{ reg_request.user.profile.avatar }}');"></span>
    </div>
    {% if player.user is not None %}
        <div class="col-md-12 mar-top-25">
            <form method="post" action="{% url 'bowlingApp:player_activity' player.id %}">
                {% csrf_token %}
                {% if player.user.is_active %}
                    <button class="btn btn-danger" type="submit">Заблокировать</button>
                {% elif not player.user.is_active %}
                    <button class="btn btn-warning" type="submit">Разблокировать</button>
                {% endif %}
            </form>
        </div>
    {% endif %}

    <!-- EDIT INFO MODAL -->
    <div class="modal fade" id="edit_modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header no-border pad-b-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>

                <div class="modal-body pad-t-0">

                    <form enctype="multipart/form-data" method="post" action="{% url 'bowlingApp:player' player.pk %}">
                        <div class="form-group">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="{{ player_form.license.id_for_label }}">{{ player_form.license.label }}</label>
                                {{ player_form.license }}
                            </div>

                            <div class="form-group">
                                <label for="{{ player_form.category.id_for_label }}">{{ player_form.category.label }}</label>
                                {{ player_form.category }}
                            </div>

                            <div class="form-group">
                                <label for="{{ player_form.f_name.id_for_label }}">{{ player_form.f_name.label }}</label>
                                {{ player_form.f_name }}
                            </div>

                            <div class="form-group">
                                <label for="{{ player_form.i_name.id_for_label }}">{{ player_form.i_name.label }}</label>
                                {{ player_form.i_name }}
                            </div>

                            <div class="form-group">
                                <label for="{{ player_form.o_name.id_for_label }}">{{ player_form.o_name.label }}</label>
                                {{ player_form.o_name }}
                            </div>

                            <div class="form-group">
                                <label for="{{ player_form.city.id_for_label }}">{{ player_form.city.label }}</label>
                                {{ player_form.city }}
                            </div>

                            <div class="form-group">
                                <label for="{{ player_form.sex.id_for_label }}">{{ player_form.sex.label }}</label>
                                {{ player_form.sex }}
                            </div>


                            <div class="form-group">
                                <label for="{{ player_form.date_of_birth.id_for_label }}">{{ player_form.date_of_birth.label }}</label>
                                {{ player_form.date_of_birth }}
                            </div>


                        </div>

                        <div class="form-group">
                            <a href="{% url 'auth:profile' %}" class="btn btn-danger">Отменить</a>
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- EDIT INFO MODAL -->
{% endblock %}

