{% extends user.is_staff|yesno:"admin/base.html,base.html" %}

{% block title %}
    Игроки
{% endblock %}

{% block content %}
    <h3 class="text-center">{{ player }}</h3>

    <p>Пол: {{ player.get_sex_display }}</p>
    <p>Город: {{ player.city }}</p>
    <p>Дата рождения: {{ player.date_of_birth }}</p>
    <p>Email: {{ player.user.email }}</p>
    <p>Телефон: {{ player.phone }}</p>
    <form method="post" action="{% url 'bowlingApp:player_activity' player.id %}">
        {% csrf_token %}
        {% if player.user.is_active %}
            <button type="submit">Заблокировать</button>
            {% elif not player.user.is_active %}
            <button type="submit">Разблокировать</button>
        {% endif %}
    </form>
{% endblock %}