{% extends user.is_staff|yesno:"admin/base.html,base.html" %}
{% load static %}

{% block title %}
    Заявка №{{ reg_request.id }}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/reg-request.css' %}">
    <link rel="stylesheet" href="{% static 'css/imageviewer.css' %}">
{% endblock %}

{% block content %}
    <div class="cont ov-hidden">
        <h3 class="text-center">Заявка</h3>
        <div class="col-lg-3 col-md-12 mar-top-25">
            <div class="passport">
                <p class="bor-bot-red"><span class="text-xs pad-r-5">Фамилия </span> <span
                        class="text-uppercase"> {{ reg_request.user.profile.f_name }}</span></p>

                <p class="bor-bot-red"><span class="text-xs pad-r-5">Имя &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span> <span
                        class="text-uppercase"> {{ reg_request.user.profile.i_name }}</span></p>
                <p class="bor-bot-red"><span class="text-xs pad-r-5">Отчество</span> <span
                        class="text-uppercase"> {{ reg_request.user.profile.o_name }}</span></p>

                <p class="bor-bot-red"><span class="text-xs pad-r-5">Пол &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span> <span
                        class="text-uppercase"> {{ reg_request.user.profile.get_sex_display|slice:":3" }}.</span></p>

                <p class="bor-bot-red"><span class="text-xs">Дата рождения &nbsp;</span> <span
                        class="text-uppercase"> {{ reg_request.user.profile.date_of_birth|date:"d.m.Y" }}</span></p>

                <p class="bor-bot-red"><span class="text-xs pad-r-5">Город &nbsp; &nbsp; &nbsp; </span> <span
                        class="text-uppercase"> {{ reg_request.user.profile.city }}</span></p>
            </div>
        </div>

        <div class="col-lg-9 col-md-12 mar-top-25">
            <div id="image-gallery">
                <div class="image-container"></div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="personal mar-top-75">
                <p><span class="small pad-r-5">Разряд: &nbsp; &nbsp;&nbsp;</span>{{ reg_request.user.profile.category }}
                </p>
                <p><span class="small pad-r-5">Лицензия:</span>{{ reg_request.user.profile.license }}</p>
                <p><span class="small pad-r-5">Телефон: </span>{{ reg_request.user.profile.phone }}</p>
                <p><span
                        class="small pad-r-5">Email: &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</span>{{ reg_request.user.email }}
                </p>
            </div>
        </div>
        <div class="col-sm-4 mar-top-75 cropped">
            <span class="squared"
                  style="background-image:url('{{ MEDIA_URL }}{{ reg_request.user.profile.avatar }}');"></span>
        </div>
    </div>

    <script src="{% static 'js/imageviewer.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            var images = [{
                small: '{{ MEDIA_URL }}{{ reg_request.user.profile.passport }}',
                big: '{{ MEDIA_URL }}{{ reg_request.user.profile.passport }}'
            }];

            var curImageIdx = 1,
                total = images.length;
            var wrapper = $('#image-gallery'),
                curSpan = wrapper.find('.current');
            var viewer = ImageViewer(wrapper.find('.image-container'));

            function showImage() {
                var imgObj = images[curImageIdx - 1];
                viewer.load(imgObj.small, imgObj.big);
                curSpan.html(curImageIdx);
            }

            //initially show image
            showImage();
        });
    </script>


    {% if similar_players %}
        <div class="similar ov-hidden mar-top-25">
            <div class="row">
                <h4 class="text-center">Похожие игроки:</h4>
                {% for sim_player in similar_players %}
                    <div class="col-md-12">
                        <div class="col-md-6 mar-top-10">
                            <div class="passport">
                                <p class="bor-bot-red"><span class="text-xs pad-r-5">Фамилия </span> <span
                                        class="text-uppercase"> {{ sim_player.f_name }}</span></p>

                                <p class="bor-bot-red"><span
                                        class="text-xs pad-r-5">Имя &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
                                    <span
                                            class="text-uppercase"> {{ sim_player.i_name }}</span></p>
                                <p class="bor-bot-red"><span class="text-xs pad-r-5">Отчество</span> <span
                                        class="text-uppercase"> {{ sim_player.o_name }}</span></p>

                                <p class="bor-bot-red"><span
                                        class="text-xs pad-r-5">Пол &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
                                    <span
                                            class="text-uppercase"> {{ sim_player.get_sex_display|slice:":3" }}.</span>
                                </p>

                                <p class="bor-bot-red"><span class="text-xs">Дата рождения &nbsp;</span> <span
                                        class="text-uppercase"> {{ sim_player.date_of_birth|date:"d.m.Y" }}</span></p>

                                <p class="bor-bot-red"><span class="text-xs pad-r-5">Город &nbsp; &nbsp; &nbsp; </span>
                                    <span
                                            class="text-uppercase"> {{ sim_player.city }}</span></p>
                            </div>
                        </div>

                        <div class="col-md-6 mar-top-10">
                            <div class="personal">
                                <p><span
                                        class="small pad-r-5">Разряд: &nbsp; &nbsp;&nbsp;</span>{{ sim_player.category }}
                                </p>
                                <p><span class="small pad-r-5">Лицензия:</span>{{ sim_player.license }}</p>
                                <p><span class="small pad-r-5">Телефон: </span>{{ sim_player.phone }}</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mar-top-10">
                                <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#join-modal"
                   tabindex="0" onclick="putJoinValues({{ reg_request.user.profile.id }}, {{ sim_player.id }}, {{ reg_request.id }})">Объединить</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    <div class="col-md-12 mar-top-25 mar-bot-10">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="request_id" value="{{ reg_request.id }}">
            <button class="btn btn-success" type="submit" value="Accept" name="status">Принять заявку</button>
            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#reject-modal">Отклонить</a>
        </form>
    </div>

    <!-- REJECT REQUEST MODAL -->
    <div class="modal fade" id="reject-modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header no-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <h4 class="text-center custom-margin">Отказ в регистрации</h4>
                    <br>

                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <h5>Укажите причину
                                отказа. {{ reg_request.user.profile.i_name }} {{ reg_request.user.profile.f_name }}
                                получит письмо, в котором будет сказано, почему его аккаунт не был зарегистрирован.</h5>
                            <label for="reason" class="sr-only">Причина отказа</label>
                            <textarea name="" class="form-control" id="id_reason" cols="30" rows="5"
                                      placeholder="Напишине причину отказа в регистрации или оставьте это поле пустым."></textarea>
                        </div>
                        <button class="btn btn-block btn-lg btn-danger" type="submit" value="Decline" name="status">
                            Отклонить заявку
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- REJECT REQUEST MODAL -->


    <!-- JOIN REQUEST MODAL -->
    <div class="modal fade" id="join-modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header no-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <h4 class="text-center custom-margin">Объединить игроков?</h4>
                    <br>
                    <form action="{% url 'bowlingApp:players_union' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="created_by_user" value=""
                               id="profile_id">
                        <input type="hidden" name="created_by_staff" value="" id="sim_player_id">
                        <input type="hidden" name="request_id" value="" id="reg_request_id">
                        <button class="btn btn-block btn-lg btn-success" type="submit">
                            Объединить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- JOIN REQUEST MODAL -->


{% endblock %}

{% block scripts %}
    <script>
        function putJoinValues(user_id, player_id, request_id) {
            $('#profile_id').val(user_id);
            $('#sim_player_id').val(player_id);
            $('#reg_request_id').val(request_id);
        }
    </script>
{% endblock %}