{% extends user.is_staff|yesno:"admin/base.html,base.html" %}
{% load static %}

{% block title %}
    Создание рейтинга
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}
    <div class="col-md-12">

        {% if user.is_staff %}
            <a class="right" href="{% url 'rating:create' %}">Создать рейтинг</a>
        {% endif %}

        <h3>Созданные рейтинги</h3>


        <ol class="mar-top-25">
            {% for rating in ratings %}
            <h4>
                <li>

                    <a class="text-black" href="{% url 'rating:page' rating.id %}">{{ rating.name }}</a>

                </li>
            </h4>
            {% endfor %}

        </ol>
    </div>
{% endblock %}